<div class="v-stretch-box">
    <div class="tb-top-bar hcenter-wrapper">
        <div class="centered-interface-l vcenter-wrapper">
            <img class="tb-logo" src="assets/images/logo.png" />
            <div class="nav-menu">
                <a [routerLink]="''" class="nav-link">HOME</a>
                <a [routerLink]="''" class="nav-link">ABOUT</a>
                <a class="nav-link"
                    href="https://www.cranfield.ac.uk/centres/soil-and-agrifood-institute/research-groups/bioinformatics-group"
                    target="_blank">
                    <img class="cranfield-logo" src="assets/images/cranfield_logo.png" />
                </a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
