<div class="hcenter-wrapper main-bg">
    <p-card styleClass="centered-interface-l animation-fade-in">
        <h4>Welcome to Tersect Browser!</h4>
        <p><i>This introductory page is a work in progress.</i></p>
        <h2>Available datasets:</h2>
        <ul *ngFor="let dataset of datasets">
            <li><a [routerLink]="['share', dataset.view_id]">
                {{ dataset.dataset_id }} ({{ dataset.reference }})
            </a></li>
        </ul>
    </p-card>
</div>
