<div class="p-grid p-justify-between tb-toolbar p-nogutter animation-fade-in">
    <div>
        <div class="input-label-small">Genomes</div>
        <app-accession-style-selector></app-accession-style-selector>
        <button pButton class="tb-square-button"
            icon="fa fa-database"
            (click)="displaySidebar = true" >
        </button>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-reference-selector></app-reference-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-chromosome-selector
            [chromosomes]="chromosomes">
        </app-chromosome-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-interval-selector></app-interval-selector>
    </div>

    <div class="p-col tb-toolbar-control">
        <app-binsize-selector></app-binsize-selector>
    </div>

    <div class="p-col zoom-selector tb-toolbar-control">
        <button pButton icon="fa fa-search-minus"
            [disabled]="isZoomMin()"
            (click)="zoomOut()">
        </button>
        <button pButton icon="fa fa-search-plus"
            [disabled]="isZoomMax()"
            (click)="zoomIn()">
        </button>
    </div>

    <div class="p-col toolbar-buttons tb-toolbar-control">
        <button pButton label="Download" icon="fa fa-download"
            [disabled]="isDownloadReady()"
            (click)="downloadDialog.show()">
        </button>
        <app-download-dialog #downloadDialog></app-download-dialog>
        <button pButton label="Share" icon="fa fa-share-square-o"
            (click)="shareMenu.toggle($event)">
        </button>
        <app-share-menu #shareMenu></app-share-menu>
    </div>
</div>

<p-sidebar [(visible)]="displaySidebar" position="left"
           [style]="{width: '90vw', padding: 0, border: 0}"
           (onHide)="updateAccessions()">
    <app-accession-tab *ngIf="displaySidebar"
        [importPlugins]="settings.plugins"
        [accessionOptions]="settings.accession_infos"
        [(accessionGroups)]="accessionGroups"
        [(selectedAccessions)]="selectedAccessions">
    </app-accession-tab>
</p-sidebar>

<div class="plot-container animation-fade-in">
    <app-tersect-distance-plot
        (plotMouseClick)="plotClick($event)"
        (plotMouseHover)="tooltip.show($event)"
        (plotMouseMove)="tooltip.hide()"
        (wheel)="scrollWheel($event)"
        (mouseleave)="tooltip.hide()">
    </app-tersect-distance-plot>
</div>

<app-plot-click-menu appFitWindow
    (setReference)="setReference($event)"
    (removeAccession)="removeAccession($event)"
    (setInterval)="setInterval($event)"
    (setIntervalStart)="setIntervalStart($event)"
    (setIntervalEnd)="setIntervalEnd($event)">
</app-plot-click-menu>

<app-tooltip></app-tooltip>
